body{
    background-image: url("../img/WhatsApp Image 2024-10-27 at 10.42.28 PM.jpeg");
    
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  h1{
    padding: 10px;
    margin: 10px;
    color: rgb(188, 3, 3);
    align-items: center;
    text-align: center;
  }
  p{
    margin: 20Px;
    padding: 10Px;
    color: azure;
    text-shadow: dimgray;
    font-size: larger;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
h2{
  text-shadow: 20px;
  padding: 15px;
  margin-top: 20Px;
  margin-bottom: 5px;
  color: rgb(214, 226, 104);
  text-align: center;
}

